@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
body {
  margin: 0;
  background-color:#282D35;
  color: #ffffff;
  font-family:Inter,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} 
.container{
  display: flex;
  height: 100vh;
  justify-content: center;
  background-color:#282D35;
  
}
.card{
  max-width: 317px;
  width: 100%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  background-color:#1A1B21;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.info--img{
  width: 317px;
  height: 317px;
 border: 0px;
 border-radius: 10px 10px 0px 0px;
}
.info--name{
  font-weight: 700;
  font-size: 25px;
  margin: 21px;
  margin-bottom: 6px;
}
.info--title{
  color: #F3BF99;
  margin: 0;
font-size: 12.8px;
font-weight: 400;
line-height: 15.49px;
text-align: center;
}
.buttons {
  width: 115px;
  margin: 0 auto;
  display: inline;
}
  
.action_btn {
  width: 115px;
  margin: 0 auto;
  display: inline;
}

.btn_email{
  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  
  border-radius: 6px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  background-color: #ffffff;
}
.btn_linkedin{
  width: 115px;
  height: 34px;
  padding: 9px 13px 9px 11px;
  
  border-radius: 6px 0px 0px 0px;
  opacity: 0px;  
  background-color:#5093E2;
}

